.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px
}


.container2 {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    margin: 2px;
    border: 1px solid #000;
}

.details > p {
    margin: 2px 0;
}